<div class="side-users">
  <div class="users-list">
    <ng-container *ngFor="let user of users">
      <li><a href="javascript: void(0)" (click)="showChat(user.userId)">{{user.name}}</a></li>
    </ng-container>
  </div>
</div>
<div nz-row class="bottom-chat">
  <div nz-col nzSpan="{{totBoxLength}}"></div>
  <ng-container *ngFor="let new of newChatBox; index as i;">
    <app-chat-box (removeOneChatBox)="removeChatBox($event)" [toWhome]="new"></app-chat-box>
  </ng-container>
  <div nz-col nzSpan="6"></div>
</div>